# Backend API URL (cambiar a https://api.systia.ar en producción)
VITE_API_URL=http://localhost:3000

# Keycloak URL (cambiar a https://auth.systia.ar en producción)
VITE_KEYCLOAK_URL=http://localhost:8080
